body {
    background-color: #CBEEF3;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#deb {
    filter: blur(100px);
}/*Delete this and previous two lines to unblur the background image*/

    @keyframes fadeout {
      0%   { opacity: 100%; }
      100% { opacity: 0%; }
    }

    @keyframes slide {
      0%   {transform: translateX(0%);}
      100% {transform: translateX(-50%);}
    }

    @keyframes fadein2 {
      0%   { opacity: 0%; }
      100% { opacity: 100%; }
    }

    @keyframes slide2 {
        0% {position: fixed;
    top: 20vh;
    right: 10vw;
            opacity: 0%;
        }
        100% {
            position: fixed;
    top: 20vh;
    right: 4vw;
            opacity: 100%;
        }
    }



.animate1 {
animation: fadeout 2s ease-in-out forwards;
    }

    .animate2 {
animation: slide 5s ease-in-out forwards;
animation-delay: 2s;
    }

        .animate3 {
animation: fadein2 2s ease-in-out forwards;
    }

    .animate4 {
        animation: slide2 1s ease-in-out forwards;
        animation-delay: 7s;
    }

    .animate5{
        animation: fadein2 2s ease-in-out forwards;
        animation-delay: 9s
    }

    .animate6{
        animation: fadeout 2s ease-in-out forwards;
    }

#button {
    background-color: #DD2D4A;
    height: auto;
    width: auto;
    color: white;
    padding: 5px;
    font-size: 10vw;
    border: 2px solid #a9172f;
    border-radius: 20px;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 20;
}

#image {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 0%;
    z-index: 10;
}

#deb {
    height: 100%;
    aspect-ratio: 1/1;
}

#question {
    top: 20vh;
    position: fixed;
    height: auto;
    width: 30%;
    border-radius: 5px;
    font-size: 15vw;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  opacity: 0;
    z-index: 11;
}

ul{
    list-style-type: none;
}

#box1{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 5%;
    left: 10%;
    height: 90vh;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.471);
    border-radius: 20px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: 17;
}

#section1{
    background-color: rgb(248, 248, 248);
    font-size: 5vw;
    border-radius: 20px;
    padding: 10px;
    height: auto;
    width: fit-content;
}

#section2{
    /* background-color: blue; */
    color: white;
    font-size: 5.5vw;
    height: auto;
    width: auto;
}

#section2>ul {
    color: white;
}

#section3{
    transform: translateX(50%);
    /* background-color: yellow; */
    color: white;
    height: auto;
    width: auto;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
}



#box2{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 5%;
    left: 10%;
    height: 90vh;
    width: 80vw;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.471);
    border-radius: 20px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: 16;
}

#section4{
    background-color: white;
    border-radius: 20px;
    font-size: 5.5vw;
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section4>ul {
    color: black;
        font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  transform: translateX(-10%);
}

#section5{
    transform: translateX(50%);
    /* background-color: yellow; */
    color: white;
    height: auto;
    width: auto;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
}

#box3{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 5%;
    left: 10%;
    height: 90vh;
    width: 80vw;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.471);
    border-radius: 20px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: 15;
}

#section6{
    background-color: white;
    border-radius: 20px;
    font-size: 5.5vw;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section6>ul {
    color: black;
        font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  transform: translateX(-10%);
}

#section7{
    transform: translateX(50%);
    /* background-color: yellow; */
    color: white;
    height: auto;
    width: auto;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
}

#box4{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 5%;
    left: 10%;
    height: 90vh;
    width: 80vw;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.471);
    border-radius: 20px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: 14;
}

#section8{
    background-color: white;
    border-radius: 20px;
    font-size: 5.5vw;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section8>ul {
    color: black;
        font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  transform: translateX(-10%);
}

#section9 {
    transform: translateX(50%);
    /* background-color: yellow; */
    color: white;
    height: auto;
    width: auto;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
}

#box5{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 5%;
    left: 10%;
    height: 90vh;
    width: 80vw;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.471);
    border-radius: 20px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: 13;
}

#section10{
    background-color: white;
    border-radius: 20px;
    font-size: 5.5vw;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section10>ul {
    color: black;
        font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  transform: translateX(-10%);
}

#section11 {
    transform: translateX(50%);
    /* background-color: yellow; */
    color: white;
    height: auto;
    width: auto;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
}

#box6{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 5%;
    left: 10%;
    height: 90vh;
    width: 80vw;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.471);
    border-radius: 20px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: 12;
}

#section12{
    background-color: white;
    border-radius: 20px;
    font-size: 5.5vw;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section12>ul {
    color: black;
        font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  transform: translateX(-10%);
}

#section13 {
    transform: translateX(50%);
    /* background-color: yellow; */
    color: white;
    height: auto;
    width: auto;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
}

